body {
    /*background-color: rgb(19,20,24);*/
    background-color: rgba(0,25,19,0.68);
    color: whitesmoke;
    font-family: 'Exo', sans-serif;
    position: relative;
}

#sim-root {
    width: 1200px;
    height: 500px;
    margin: auto;
    position: relative;
}

.main-view {
    margin-top: 10px;
    position: relative;
    width: 950px;
    height: 350px;
    border: 1px solid black;
}

.controls {
    margin-top: 10px;
    position: relative;
    width: 950px;
    height: 200px;
    border: 1px solid aquamarine;
}

#head-text {
    margin-left: 10px;
    color: darkgoldenrod;
}
