body {
    /*background-color: rgb(19,20,24);*/
    background-color: rgba(0,25,19,0.68);
    color: whitesmoke;
    font-family: 'Exo', sans-serif;
    position: relative;
}

#sim-root {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.main-view {
    margin: 0 auto;
    width: 950px;
    height: 350px;

    position: relative;
    border: 1px solid black;
}

.timeline-slider {
    width: 900px;
    height: 100px;
    margin: 0 auto;

    /*border: 1px solid palevioletred;*/
    position: relative;
}


.go-supernova-btn {
    width: 120px;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: palegoldenrod;
}

#time-text {
    /*border: 1px solid aquamarine;*/
    float: right;
    /*margin-top: 5px;*/
    color: salmon;
    margin-right: 100px;
    display: inline-block;
}

.controls {
    margin: 0 auto;

    background-color: dimgrey;
    position: relative;
    width: 950px;
    height: 200px;
    border: 1px solid aquamarine;
}



#head-text {
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    color: lightblue;
}

.axis text {
    font-size: 1.65em;
}

.axis line {
    shape-rendering: crispEdges;
    stroke: white;
    stroke-width: 1px;
}

/* Below, we set the tick length to 10px. The stroke-dasharray only displays 6px to create a minor tick effect. */
.axis .minor line {
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 6,4;
}
