body {
    /*background-color: rgb(19,20,24);*/
    background-color: rgb(229,234,245);
    color: white;
    font-family: 'Exo', sans-serif;
    position: relative;
}

#sim-root {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.main-view {
    margin: 0 auto;
    width: 950px;
    height: 350px;

    position: relative;
    /* border: 1px solid black; */
}

.timeline-slider {
    width: 900px;
    height: 100px;
    margin: 0 auto;

    /*border: 1px solid palevioletred;*/
    position: relative;
}


.go-supernova-btn {
    width: 120px;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: palegoldenrod;
}

#time-text {
    /*border: 1px solid aquamarine;*/
    float: right;
    /*margin-top: 5px;*/
    /*position: relative;*/
    /*bottom: 50px;*/
    color: rgb(208,189,244);
    margin-right: 100px;
    /*display: inline-block;*/
}

#observation-text {
    float: right;
    color: rgb(208,189,244);
    /*position: relative;*/
    /*bottom: 80px;*/
    /*margin-left: -200px;*/
}

.controls {
    margin: 0 auto;

    background-color: rgb(73,77,95);
    position: relative;
    width: 950px;
    height: 200px;
    border: 1px solid aquamarine;
}



#head-text {
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    color: rgb(160,210,232);
}

.axis text {
    font-size: 1.65em;
}

.axis line {
    shape-rendering: crispEdges;
    stroke: white;
    stroke-width: 1px;
}

/* Below, we set the tick length to 10px. The stroke-dasharray only displays 6px to create a minor tick effect. */
.axis .minor line {
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 6,4;
}

.modal-content {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
